@use '../utils' as *;
.text {
    color: var(--tp-common-black);
    &__sub-heading {
        display: inline-block;
    }
    &_w_gradient {
        background: -webkit-linear-gradient(45deg, $majorelleblue, #d946ef 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &_h_gradient {
        background: -webkit-linear-gradient(45deg, #004d7a, #00bf72 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &_t_gradient {
        background: -webkit-linear-gradient(45deg, #083194, #0575e6 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &_s_gradient {
        background: -webkit-linear-gradient(45deg, #00a1ba, #36C486 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__h1 {
        font-size: 80px;
        font-weight: 700;
        @media #{$xl} {
            font-size: 50px;
        }
        @media #{$xs} {
            font-size: 42px;
        }
    }
    &__h2 {
        font-size: 53px;
        font-weight: 700;
        @media #{$xl} {
            font-size: 40px;
        }
        @media #{$xs} {
            font-size: 32px;
        }
    }
    &__h3 {
        font-size: 32px;
        font-weight: 700;
        @media #{$xl} {
            font-size: 30px;
        }
        @media #{$xs} {
            font-size: 28px;
        }
    }
    &__h4 {
        font-size: 18px;
        font-weight: 700;
        @media #{$xl} {
            font-size: 16px;
        }
        @media #{$xs} {
            font-size: 16px;
        }
    }
    & i {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        margin-bottom: 35px;
        display: block;
    }
    &__small {
        font-size: 14px;
        font-style: normal;
        display: block;
    }
    &__link {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 25px;
        display: inline-block;
        &>i {
            display: inline-block;
            margin-bottom: 0;
        }
        &:hover {
            color: var(--tp-icon-orange);
            & i {
                animation: tfLeftToRight 0.5s forwards;
            }
        }
    }
    &__p {
        font-size: 18px;
        display: block;
        padding-right: 55px;
        @media #{$xxl} {
            padding: 0px;
        }
        @media #{$xl,$md} {
            padding: 0px;
        }
        @media #{$lg} {
            padding: 0px;
            font-size: 14px;
        }
        @media #{$xs} {
            padding: 0px;
            font-size: 14px;
            margin-right: 0;
        }
    }
}