@use "../utils" as *;

/*----------------------------------------*/


/*  12. TEAM CSS START
/*----------------------------------------*/

.tp-team {
    &__thumb {
        display: block;
        & a {
            & img {
                width: 100%;
                @include transition(0.8s);
            }
        }
    }
}

.tp-team-arrow {
    justify-content: flex-end;
    @media #{$xs} {
        margin-bottom: 30px;
        justify-content: start;
    }
    & .team-p {
        margin-right: 20px;
    }
    & i {
        display: inline-block;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid var(--tp-border-secondary);
        &:hover {
            background-color: var(--tp-theme-primary);
            color: var(--tp-common-white);
            border: 1px solid var(--tp-theme-primary);
        }
    }
}

.team-arrow {
    & i {
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid var(--tp-border-secondary);
        border-radius: 50%;
        &:hover {
            background-color: var(--tp-theme-primary);
            border: 1px solid var(--tp-theme-primary);
            color: var(--tp-common-white);
        }
    }
    & .team-prv {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -80px;
        z-index: 2;
        cursor: pointer;
        @media #{$xxl} {
            left: -40px;
        }
        @media #{$xl} {
            left: -30px;
        }
        @media #{$lg,$md} {
            left: -20px;
        }
        @media #{$xs} {
            left: -5px;
        }
    }
    & .team-nxt {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -80px;
        z-index: 2;
        cursor: pointer;
        @media #{$xxl} {
            right: -40px;
        }
        @media #{$xl} {
            right: -30px;
        }
        @media #{$lg,$md} {
            right: -20px;
        }
        @media #{$xs} {
            right: -5px;
        }
    }
}